@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 0;
}

html, body{
    width: 100vw;
    height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body{
    font: 14px 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF, #CDD8DF);
}

h2{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#container{
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    border-radius: 15px;
    background-color: #1F2044;
    background-image: linear-gradient(180deg, #3C97FF, #2C599E);
}

#container-parametros{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#container-parametros span{
    text-align: center;
    font-size: .8em;
}

#container-quantidade, #container-caracteres{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: #FFFFFF;
}

#container-quantidade input{
    width: 80px;
    margin:  15px auto 0;
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    border: 0;
    border-radius: 5px;
    background-color: #CDD8DF;
}

#container-caracteres label{
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #3C97FF;
    border: 1px solid transparent;
    transition: .5s;
    position: relative;
}

#container-caracteres label:hover::before{
    content: attr(title);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: inherit;
}

#container-caracteres input{
    display: none;
}

#btn-gerar{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    color: #000000;
    background: #CDD8DF;
    transition: .3s;
}

#btn-gerar:hover{
    color: #000000;
    background-color: #FAB53C;
}

#container-resultado{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

#container-resultado #resultado{
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    border: 0;
}

#container-resultado #btn-copiar{
    font-weight: bold;
    padding: 10px;
    border: 0;
    color: #FFFFFF;
    background: #3C97FF;
    transition: .3s;
}

#container-resultado #btn-copiar:hover{
    color: #000000;
    background-color: #FAB53C;
}